#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.haiku {
  max-width: 500px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.haiku p {
  margin-block: 8px;
  height: 12px;
}

.calendar-container {
  max-width: 500px;
  height: 250px;
  margin-bottom: 60px;
}